.figure-no-margin {
    margin: 0 !important;
}

figure.only-dark.light-background img {
    background-color: #d4d0c8;
    padding: 10px;
}

.float-left {
    float: left;
}

.clear-left {
    clear: left
}

.float-right {
    float: right;
}

.clear-right {
    clear: right
}

.clear-left.clear-right {
    clear: both;
}

.no-top-margin {
    margin-top: 0 !important;
}

.no-left-margin {
    margin-left: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-right-margin {
    margin-right: 0 !important;
}

.math-wrapper {
    overflow: hidden;
}

div.literal-block-wrapper div.code-block-caption:has(+ div.gh-panel) {
    justify-content: flex-end;
}

div.literal-block-wrapper div.gh-panel {
    margin-bottom: -0.25rem;
}

.code-block-caption+div[class]>.highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sd-badge.reference.external:after {
    content: "";
    height: .75em;
    width: .75em;
    margin-left: 0.25em;
    mask-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" stroke="currentColor"><path d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z"></path></svg>');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: currentColor;
    display: inline-block;
}

.underline {
    text-decoration: underline;
}

.border-4 {
    border-width: 4px !important;
}
