.figure-no-margin {
    margin: 0 !important;
}

figure.only-dark.light-background img {
    background-color: #d4d0c8;
    padding: 10px;
}

.float-left {
    float: left;
}

.clear-left {
    clear: left
}

.float-right {
    float: right;
}

.clear-right {
    clear: right
}

.clear-left.clear-right {
    clear: both;
}

.no-top-margin {
    margin-top: 0 !important;
}

.no-left-margin {
    margin-left: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-right-margin {
    margin-right: 0 !important;
}

.math-wrapper {
    overflow: hidden;
}

div.literal-block-wrapper div.code-block-caption:has(+ div.gh-panel) {
    justify-content: flex-end;
}

div.literal-block-wrapper div.gh-panel {
    margin-bottom: -0.25rem;
}

.code-block-caption+div[class]>.highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
